@import url(https://fonts.googleapis.com/css?family=Abril+Fatface:700,300,600);

html, body {
  background-color: #eae7e0; 
  margin: 5;
  padding: 5;
  height: 100%;
  width: 100%;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
@-ms-viewport {
  width: device-width ;
}

.image_full{
  display:block;
 }

.image_mobile{
 display:none;
}

@media (max-width: 640px) and (min-width: 320px){
 .image_full{
  display:none;
 }

 .image_mobile{
  display:block;
 }
}


img {
    padding: 0;
    display: block;
    min-width: 100%;
    min-height: 100%;
}
