@import url(https://fonts.googleapis.com/css?family=Abril+Fatface:700,300,600);

html, body { 
    height: 100%;
    margin: 0;
    padding: 0;
    
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -160%);
  }

h1 {
 display: flex; justify-content: center; align-items: center; text-align:center; margin: -10px; overflow:hidden; 
 font:bold 7.5vw/1.6 'Abril+Fatface', sans-serif;
 user-select:none;
 color: aliceblue;
 text-shadow: 2px 2px black;
}

