@import url(https://fonts.googleapis.com/css?family=Abril+Fatface:700,300,600);

html, body {
  background-color: #eae7e0; 
  margin: 5;
  padding: 5;
  height: 100%;
  width: 100%;
}

@viewport {
  width: device-width ;
  
}


.eggs_full{
  display:block;
 }

.eggs_mobile{
 display:none;
}

@media (max-width: 640px) and (min-width: 320px){
 .eggs_full{
  display:none;
 }

 .eggs_mobile{
  display:block;
 }
}

.bobo_full{
  display:block;
 }

.bobo_mobile{
 display:none;
}

@media (max-width: 640px) and (min-width: 320px){
 .bobo_full{
  display:none;
 }

 .bobo_mobile{
  display:block;
 }
}


img {
    padding: 0;
    display: block;
    min-width: 100%;
    min-height: 100%;
}
