* {
    box-sizing: border-box;
  }
  
  body {
    background-color: blanchedalmond;
    padding: 2px;
    font-family: Arial;
    background-repeat: repeat-y;
    background-size: 120% 140%;
  }
  
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .column {
    float: left;
    width: 50%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content {
    
    padding: 10px;
  }

  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }